<h1>New Mailing</h1>
<% @order.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
<%= form_for :mailing, url: mailings_path do |f| %>
<p>
	<%= f.label :track_number %><br/>
	<%= f.text_field :track_number, class: "form-control col-5" %>
</p>

<p>
	<%= f.submit class: "btn btn-primary" %>
</p>
	<% end %>