<h2>Edit profile</h2>

<%= form_for :profile, url: profile_path(@profile), method: :put do |f| %>

  <p>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name, class: "form-control col-5" %>
  </p>

  <p>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name, class: "form-control col-5" %>
  </p>

  <p>
    <%= f.label :home_address %><br/>
    <%= f.text_field :home_address, class: "form-control col-5" %>
  </p>

  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>