<h1>Dashboard</h1>
<br/>

<%= form_for :postal_code, url: postal_code_path do |f| %>

	<div class="field">
	    <%= f.label :postcode %><br />
	    <%= f.text_field :postcode, class: "form-control col-3" %>
 	</div>

 	<div class="field">
	   <%= f.label :city %><br />
	   <%= f.text_field :city, class: "form-control col-3" %>
 	</div>

	<br/><%= f.submit 'Create postcode', class: "btn btn-primary" %>

<% end %>